.messages-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}
.messages-section::-webkit-scrollbar {
    display: none;
}

.messages-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.message-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.messages-container {
    overflow: scroll;
    width: 100%;
    padding: 30px;
}
.messages-container::-webkit-scrollbar {
    display: none;
}
.pic-message-container {
    display: flex;
    width: 100%;
}

.incoming-messages {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    word-break: break-word;
    animation: chatBubble 0.1s ease forwards;
}

.outgoing-messages {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-end;
    word-break: break-word;
    animation: chatBubble 0.3s ease forwards;
}

@keyframes chatBubble {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.outgoing-messages .pic-message-container {
    flex-direction: row-reverse;
}

.message-bubble-sender {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2)) top/100% 800%;
    background-color: var(--lighter-grey);
    padding: 15px;
    border-radius: 20px 20px 20px 3px;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 100%;
    transition: 0.2s ease;
}

.message-sender-name,
.message-time-sender {
    color: var(--darker-grey);
    font-size: small;
    margin-left: 55px;
    animation: messageInfo 0.3s ease forwards;
}

.message-user-name,
.message-time-user {
    color: var(--darker-grey);
    font-size: small;
    margin-right: 55px;
    animation: messageInfo 0.3s ease forwards;
}

@keyframes messageInfo {
    0% {
        opacity: 0;
        max-height: 0;
    }
    100% {
        opacity: 1;
        max-height: 50%;
    }
}

.message-bubble-user {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3)) top/100% 800%;
    background-color: var(--darkest-color);
    padding: 15px;
    border-radius: 20px 20px 3px 20px;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
    max-width: 100%;
    transition: 0.2s ease;
}

.message-bubble-user:hover,
.message-bubble-sender:hover {
    background-position: bottom;
}

.chat-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    background-color: var(--lightest-grey);
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    /* padding: 30px; */
    /* padding: 30px 20px 30px 20px; */
    padding: 10px;
    align-items: center;
}

.header-name {
    display: flex;
    align-items: center;
    width: 50%;
}

.chat-name {
    color: var(--darkest-color);
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-name-user {
    margin-left: 10px;
}

.message-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
    overflow: hidden;
}

.message-container-empty img {
    width: 25%;
}

.message-input-container {
    width: 100%;
    padding: 10px;
    background-color: var(--lightest-grey);
    border-top: 1px solid var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input {
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
}

.message-input input,
.invite-user-input {
    outline: none;
    width: 100%;
    height: 3em;
    font-size: 1em;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-grey);
    transition: 0.2s ease;
}

.message-input input:hover,
.invite-user-input:hover {
    border: 2px solid var(--dark-color);
}

.message-input input:focus,
.invite-user-input:focus {
    border: 2px solid var(--dark-color);
}

.message-input input:focus ~ span {
    color: var(--dark-color);
}

.send-button {
    width: 3em;
    height: 3em;
    max-width: 3em;
    max-height: 3em;
    min-width: 3em;
    min-height: 3em;
    background: none;
    border: none;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 100%;
}

.send-button svg {
    width: 100%;
    margin-left: 2px;
    transform: rotate(90deg);
    stroke: white;
}

.send-button:hover {
    background-color: #ff6464;
}

.send-button:active {
    background-color: #d84f4f;
    transform: scale(0.97);
}

.message-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightest-grey);
    height: 100vh;
    border-left: 1px solid var(--dark-grey);
    opacity: 0;
    transform: translateX(5%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 400px -7px;
    animation: maincontent 0.2s ease forwards;
    overflow: hidden;
}

.message-sidebar-closed {
    display: none;
}

.message-sidebar-toggle {
    width: 1.8em;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
    transition: 0.2s ease;
}

.message-sidebar-toggle svg {
    stroke: var(--darkest-color);
}

.message-sidebar-toggle:hover {
    opacity: 0.8;
}

.message-sidebar-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.invite-user-container {
    background-color: var(--lighter-grey);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

.invite-user-search-results {
    position: absolute;
    /* top: 100%; */
    z-index: 9999;
    background-color: var(--light-grey);
    border-radius: 10px;
    width: calc(100% - 90px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.invite-chip-container {
    background: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 100px;
    width: auto;
    overflow: hidden;
}

.invite-chip-container div:first-child {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.invite-chip-container div:first-child span {
    margin-left: 10px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 100;
}

.invite-user-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.1s ease;
    cursor: pointer;
}

.invite-user-toggle svg {
    width: 1.5em;
    margin-right: 5px;
}

.invite-user-toggle:hover {
    background-color: var(--grey);
    color: var(--darkest-color);
}

.invite-user-toggle:hover svg {
    stroke: var(--darkest-color);
}

.invite-user-toggle:active {
    transform: scale(0.95);
}

.member-list-label {
    z-index: 1;
    /* transform: translate(20px, 200%); */
    text-transform: uppercase;
    font-size: 0.7em;
    color: grey;
    margin-top: 15px;
    margin-bottom: 5px;
}

.member-list {
    overflow: scroll;
    background-color: var(--lighter-grey);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.member-list span:last-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 900px) {
    .messages-section {
        overflow: scroll;
        position: relative;
        width: 100%;
        height: 100vh;
        /* display: grid;
        grid-template-rows: 0.2fr 2fr 0.1fr; */
    }
    .chat-header {
        padding: 30px;
    }
    .message-bubble-sender,
    .message-bubble-user {
        max-width: 50%;
    }
    .message-sidebar {
        width: 25%;
    }
}
