.messages-section {
    display: initial;
}
.messages-section::-webkit-scrollbar {
    display: none;
}
.message-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.messages-container {
    overflow: scroll;
    width: 100%;
    padding: 30px;
    height: 100%;
}
.messages-container::-webkit-scrollbar {
    display: none;
}
.pic-message-container {
    display: flex;
    width: 100%;
}

.incoming-messages {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    animation: chatBubble 0.1s ease forwards;
}

.outgoing-messages {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-end;
    animation: chatBubble 0.3s ease forwards;
}

@keyframes chatBubble {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.outgoing-messages .pic-message-container {
    flex-direction: row-reverse;
}

.message-bubble-sender {
    background: var(--lighter-grey);
    padding: 15px;
    border-radius: 20px 20px 20px 3px;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 50%;
}

.message-sender-name,
.message-time {
    color: var(--darker-grey);
    font-size: small;
    margin-left: 60px;
}

.message-user-name {
    color: var(--darker-grey);
    font-size: small;
    margin-right: 60px;
}

.message-bubble-user {
    background: var(--darkest-color);
    padding: 15px;
    border-radius: 20px 20px 3px 20px;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
    max-width: 50%;
}

.chat-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    /* height: 100%; */
    background-color: var(--lightest-grey);
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    padding: 30px;
    align-items: center;
}

.header-name {
    display: flex;
    align-items: center;
}

.chat-name {
    color: var(--darkest-color);
    font-size: 1.2em;
}

.chat-name-user {
    margin-left: 10px;
}

.message-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    user-select: none;
    overflow: hidden;
}

.message-container-empty img {
    width: 25%;
}

.message-input-container {
    width: 100%;
    padding: 10px;
    background-color: var(--lightest-grey);
    border-top: 1px solid var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input {
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
}

.message-input input {
    outline: none;
    width: 100%;
    height: 3em;
    font-size: 1em;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-grey);
    transition: 0.2s ease;
}

.message-input input:hover {
    border: 2px solid var(--dark-color);
}

.message-input input:focus {
    border: 2px solid var(--dark-color);
}

.message-input input:focus {
    border: 2px solid var(--dark-color);
}

.message-input input:focus ~ span {
    color: var(--dark-color);
}

.send-button {
    width: 3em;
    height: 3em;
    max-width: 3em;
    max-height: 3em;
    min-width: 3em;
    min-height: 3em;
    background: none;
    border: none;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 100%;
}

.send-button svg {
    width: 100%;
    margin-left: 2px;
    transform: rotate(90deg);
    stroke: white;
}

.send-button:hover {
    background-color: #ff6464;
}

.send-button:active {
    background-color: #d84f4f;
    transform: scale(0.97);
}

@media screen and (min-width: 900px) {
    .messages-section {
        overflow: scroll;
        position: relative;
        width: 100%;
        height: 100vh;
        /* display: grid;
        grid-template-rows: 0.2fr 2fr 0.1fr; */
    }
}
