.channel-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 100px - 2.4em);
    margin-bottom: 30px;
    width: 100%;
}

.channel-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px - 2.4em);
    text-align: center;
    user-select: none;
}

.channel-container-empty img {
    width: 70%;
}

.channel-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s ease;
    text-decoration: none;
    color: black;
    width: 100%;
    overflow: hidden;
}

.channel-item:hover {
    background-color: var(--grey);
}

.channel-item:active {
    transform: scale(0.95);
}

.selected-message {
    background-color: var(--grey);
}

.inbox-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-left: 10px;
}

.inbox-name {
    font-weight: 500;
}

.recent-message-container {
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    font-size: 0.9em;
}

.recent-message-sender {
    margin-right: 3px;
}

.recent-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
