.channel-container {
    overflow: auto;
    height: calc(100% - 100px - 2.4em);
    margin-bottom: 30px;
}

.channel-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px - 2.4em);
    text-align: center;
    user-select: none;
}

.channel-container-empty img {
    width: 70%;
}

.channel-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s ease;
}

.channel-item span {
    margin-left: 10px;
    word-break: break-all;
}

.channel-item:hover {
    background-color: var(--grey);
}

.channel-item:active {
    transform: scale(0.95);
}
