.sidebar {
    background-color: var(--lighter-grey);
    padding: 20px;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-5%);
    animation: sidebar 0.1s ease forwards;
}

@keyframes sidebar {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

NavLink button {
    text-decoration: none;
}

.sidebar-title {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: var(--darkest-color);
    border-bottom: 1px solid var(--grey);
}

.user-container {
    display: flex;
    align-items: center;
    /* padding: 10px;
    border-radius: 10px; */
}

/* .user-container:hover {
    background-color: var(--dark-grey);
    cursor: pointer;
} */

.user-email {
    margin-left: 10px;
    display: inline-block;
    word-break: break-all;
}

@media screen and (min-width: 900px) {
    .sidebar {
        width: 23vw;
        border-right: 1px solid var(--dark-grey);
    }
}
