@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@700&display=swap');

:root {
    --darkest-color: #414291;
    --darker-color: #4849a1;
    --dark-color: #6364af;
    --darker-grey: #b7bdce;
    --dark-grey: #d8dbe0;
    --grey: #dbdee7;
    --light-grey: #f0f0f6;
    --lighter-grey: #f4f4fa;
    --lightest-grey: #f9f9fc;
    --accent-color: #f95959;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    animation: appOpen 0.2s ease forwards;
}

@keyframes appOpen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(5%);
    animation: maincontent 0.1s ease forwards;
}

@keyframes maincontent {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-content-closed {
    display: none;
}

.navigation-bars-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.navigation-bars-container-closed {
    display: none;
}

@media screen and (min-width: 900px) {
    .main-content-closed {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation-bars-container-closed {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }
    .navigation-bars-container {
        width: 30vw;
        height: 100%;
        display: flex;
        overflow: hidden;
    }
}
